@using Service.SnapFood.Client.Components.Pages.Auth
@using Service.SnapFood.Client.Infrastructure.Service
@using Service.SnapFood.Share.Model.Commons
@inherits LayoutComponentBase
@inject IUserService UserService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        body {
            margin: 0;
            color: #6a6f8c;
            font: 600 16px/18px "Open Sans", sans-serif;
        }
    </style>
</head>
<body>
        <CascadingValue Value="CurrentUser">
    
    <FluentLayout>
        <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
            <NavMenu/>
            <FluentBodyContent>
                <div class="container">
                    <main role="main">
                        <marquee behavior="scroll" direction="left" style="color: red; font-size: 20px; font-weight: bold;padding:10px">
                            Kính chào quý khách! Chúc quý khách ngày mới tốt lành.
                        </marquee>
                        <div class="container-fluid mt-3">
                            <div class="row">
                                <div>
                                    @Body
                                </div>
                            </div>
                        </div>

                    </main>
                </div>
            </FluentBodyContent>      
            <FluentToastProvider MaxToastCount="10" Position="ToastPosition.BottomRight" />
            <FluentDialogProvider />
            <FluentTooltipProvider />
            <FluentKeyCodeProvider />
            <FluentMenuProvider />
        </FluentStack>
    </FluentLayout>
    </CascadingValue>
</body>
</html>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private CurrentUser CurrentUser = new();
    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await UserService.GetCurrentUserAsync();
        StateHasChanged();
    }
}