<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Xin chào bạn!</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>  

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Quan-Ly/San-Pham">
                <span class="bi bi-box" aria-hidden="true"></span> Sản phẩm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Quan-Ly/Size-PhanLoai">
                <span class="bi bi-gear" aria-hidden="true"></span> Quản lý chung
            </NavLink>

        </div>
       
    </nav>
</div>

